
  <div class="navbarshow">
      <ul>
        <li>
          <a href="/cocktails">HOME</a>
        </li>
        <li>
          <a href="/cocktails#cocktailall">COCKTAILS</a>
        </li>
      </ul>
    </div>
<div class="mynewcontainer">
<% if @cocktail.photo %>
<div class="cocktail" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= "https://source.unsplash.com/random?sig=#{rand(1..1000)}&?cocktail" %>);">

<% else %>
 <div class="cocktail" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @cocktail.photo.key %>);">
<% end %>


<h1><%=@cocktail.name%></h1>


</div>

<div class="pagecontainer">

<div class="formcontainer">

<%= simple_form_for([@cocktail, @dose]) do |f| %>
  <%= f.association :ingredient %>
  <%= f.input :description %>
  <%= f.submit "add an ingredient", class: "btn-primary"%>
<% end %>
</div>

<div class="ingredients">
  <h2>INGREDIENTS</h2>


<% @cocktail.doses.each do |dose| %>
<div class="details">
  <p><%= link_to "x", dose_path(dose),
      method: :delete,
      data: { confirm: "Are you sure you want to delete?" } %></p>
<p><%= dose.ingredient.name %>  </p>
<p class="description"><%= dose.description%></p>

      </div>
<% end %>









</div>


</div>


</div>
</div>

